@import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap");

* {
  margin: 0;
  font-family: Roboto;
}

li {
  list-style: none;
}

/* Header */

header {
  position: fixed;
  background-color: #373867;
  height: 117.92px;
  width: 1512px;
  top: 0;
}

.headline {
  margin: 0;
  padding: 57px 0 13.92px 0;
  text-align: center;
  color: white;
  font-size: 40px;
}

/* Header */

/* Sidebar */

aside {
  width: 335px;
  height: 982px;
  position: fixed;
  margin-top: 117.92px;
  background-color: #f6f6f6;
  left: 0;
  top: 0;
  display: inline-block;
}

.search-input {
  width: 255px;
  height: 36px;
  left: 40px;
  top: 16px;
  border-radius: 4px;
  border: none;
  position: absolute;
}

.search-input::placeholder {
 padding-left: 16px;
 color: #ABA9A9;
 font-weight: 400;
 font-size: 14px;
}

aside ul {
  margin-top: 68px;
}

.aside-btn {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  width: 238px;
  height: 49px;
  color: #2a2a32;
  background-color: #aace9b;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}

.sidebar-icon {
  font-size: 21px;
  padding: 0;
}

.sidebar-link {
  display: inline-block;
  margin-bottom: 43px;
 
}

#home-icon {
 margin-right: 8px;
}

#plus-icon {
  margin-right: 13px;
 }
 
 #sign-in-icon {
  margin-right: 7px;
 }

 #inbox-icon {
  margin-right: 11px;
 }

.aside-info {
  position: relative;
  top: 98px;
}

.aside-info p {
  position: relative;
  width: 109px;
  height: 24px;
  left: 103px;
  font-size: 20px;
  font-weight: 700;
}

.aside-info ul li {
 padding-bottom: 20px;
 font-weight: 500;
  
}

/* Sidebar */

/* Main */

main {
  margin-left: 335px;
  margin-top: 117.92px;
}


h1 {
  position: relative;
  top: 25px;
  left: 30px;
  right: 148px;
  text-align: center;
  font-size: 48px;
  color: #373867;
}

#welcome-img {
  display: block;
  margin: auto;
}

#subtitle {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #423C3C;
margin-top: 18px;
}

#welcome-text {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #776262;
  margin: 14px 267px;
  margin-top: 14px;
}

footer {
  margin-left: 335px;
}
