<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Mega Rocket SA</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/login.css" />

    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <header>
      <p class="headline">Mega Rocket SA</p>
    </header>

    <main>
      <a id="back" href="../views/index.html"
        ><img src="../../assets/img/back.png.png" alt="Back Vector"
      /></a>
      <div id="login-welcome">
        <h2>Log In</h2>
        <img src="../../assets/img/LOGO-RR.png" alt="Logo of Radium Rocket" />
      </div>
      <form id="login-form">
        <label for="email" class="label-form">Email</label>
        <input type="text" name="email" id="email" class="input-form" />
        <label for="email" class="hidden label-error" id="email-error-text"
          >Email is incorrect</label
        >
        <label for="password" class="label-form">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="input-form"
        />
        <label for="password" class="hidden label-error" id="pass-error"
          >Password is incorrect</label
        >
        <section id="form-section">
          <div>
            <input type="radio" name="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
          <p><a href="">Forgot Password?</a></p>
        </section>
        <section>
          <button id="login-btn" class="btn">Continue</button>
          <p id="login-question">
            Are you new here? <a href="./sign-up.html">Register</a>
          </p>
        </section>
      </form>
    </main>

    <footer>
      <div id="footer-social-media">
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer1.png"
            alt="Snapchat logo"
          />
        </a>
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer2.png"
            alt="Whatsapp logo"
          />
        </a>
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer3.png"
            alt="Facebook logo"
          />
        </a>
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer4.png"
            alt="Instagram logo"
          />
        </a>
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer5.png"
            alt="Telegram logo"
          />
        </a>
        <a class="footer-logo" href="">
          <img
            class="footer-img"
            src="../../assets/img/footer6.png"
            alt="LinkedIn logo"
          />
        </a>
      </div>
      <div id="footer-info">
        <p>Rosario, Argentina</p>
        <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
      </div>
    </footer>
    <script src="../js/login.js"></script>
  </body>
</html>