body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

main {
  margin-top: 13vh;
  margin-bottom: 3vh;
}

#back {
  display: flex;
  justify-content: end;
  margin-right: 2vh;
}

#back img {
  width: 3%;
  margin-right: 2vh;
}

form {
  background: #ffffff;
  box-shadow: 17px 20px 20px rgba(0, 0, 0, 0.05);
  border-radius: 39px;
  padding-bottom: 3vh;
  margin: 0 2vh 0 2vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-around;
}

.signup-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.signup-field,
input {
  width: 80vw;
}

#repeat-password {
  display: block;
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 989px) {
  .container {
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
  }

  form {
    margin-left: 6vh;
  }

  #back img {
    width: 1.2%;
    margin-right: 6vh;
  }

  .signup-field,
  input {
    width: 45vw;
  }
}
