@import url("https://fonts.googleapis.com/css2?family=Alice&family=Dancing+Script&family=Montserrat&family=PT+Serif&family=Poppins:wght@200;400&family=Roboto&display=swap");

* {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 47px;
  color: #373867;
  margin-bottom: 2%;
}

#logo-radium {
  display: none;
  top: 80%;
  left: 91%;
  height: 105px;
  position: fixed;
}

li {
  list-style: none;
}

.div-line {
  margin: 50px auto 50px auto;
  width: 70%;
  background-color: #bebebe;
  height: 5px;
  border-radius: 3px;
}
