main {
    margin-top: 40%;
}

#login-welcome, #login-question {
text-align: center;
margin-top: 5%;
}

#login-welcome, img {
    height: 150px;
    margin: auto;
}

#login-form {
    margin: 15% 18% 0 18%; 
    display: flex;
    flex-direction: column;
}

#form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.input-form {
    margin-bottom: 5%;
    height: 25px;
}

@media only screen and (min-width: 600px) { 
    main {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        margin: 10% auto 0 auto;
        width: 30%;
    }
}